@model identity1.Models.StudyEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudyEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
